---
---

p {
	text-align: center;
	
}
hr {
	border: 2px solid tomato;
	margin: 10px 50px;
	box-shadow: 2px 2px 3px;
}

blockquote {
	margin: 15px 50px;
	box-shadow: 5px 5px 3px;
	background-color: #ece0e0;
	color: grey;

}

img {
	border-radius: 10px;
	box-shadow: 1px 1px 7px;
}

.page-content {
	background-image: url("{{site.url}}/{{site.baseurl}}/assets/images/webdesign.jpg");
	opacity: 0.8;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}